# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
/.pnp
.pnp.js

# testing
/coverage
junit.xml

# production
build/
dist/
/public

# misc
.DS_Store
*.tsbuildinfo

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# .env
.env/
.redis/

# vercel
.vercel

# typescript
*.tsbuildinfo

